@{
    ViewData["Title"] = "About";
}
<h2 style="color:cadetblue">@ViewData["Title"]</h2>
<h3 style="color:cadetblue">@ViewData["Message"]</h3>

<p style="color:cadetblue">Visual Studio 2019.</p>
<p style="color:cadetblue">Net Core 2.1</p>
