@{
    ViewData["Title"] = "Contact";
}
<h2 style="color:cadetblue">@ViewData["Title"]</h2>
<h3 style="color:cadetblue">@ViewData["Message"]</h3>

<address style="color:cadetblue">
    Systems Engineer<br />
    .NET Developer<br />   
</address>

<address>
    <strong style="color:cadetblue">Email:</strong> <a href="dbarrerao@gmail.com">dbarrerao@gmail.com</a><br />
    <strong style="color:cadetblue">Contact Number:</strong> <a>318 882 19 58</a>
</address>
