@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MAS.Models.ViewModel.ViewModelEmployee;

<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            @using (Html.BeginForm("Employee", "Home", FormMethod.Post, new { @id = "frmEmployee", @name = "frmEmployee", @class = "form-horizontal" }))
            {
                <h5 style="text-align:center;"><srtong>Employees</srtong></h5>

                <div class="col-sm-6">
                    <input placeholder="Employee ID" id="txtEmployeeId">
                </div>
                <div class="col-sm-6">
                    <button id="btnSearch" type="button">Get Employees</button>
                </div>
                <div>
                    <table id="Table">
                        <tr>
                            <th>Name</th>
                            <th>Contract Type</th>
                            <th>Role ID</th>
                            <th>Role Name</th>
                            <th>Role Description</th>
                            <th>Hourly Salary</th>
                            <th>Monthly Salary</th>
                            <th>Annual Salary</th>                            
                        </tr>
                    </table>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {   

        $('#idTable').hide();

        $("#btnSearch").on("click", function () {
            var employeeId = $("#txtEmployeeId").val();
            employeeId = Number(employeeId);

            if (employeeId == "")
            {
                GetAllEmployees();                
            } else
            {
                GetEmployeeById(employeeId);                 
            }            
        });
    });

    /// Function that return the information of all employees and display it in a table.
    function GetAllEmployees() {      
        debugger;
        $.ajax({
            type: "GET",
            url: "/api/Employee",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                debugger;
                $('#idTable').show(); 
                $.each(data, function (i, item) {                   
                    var rows =
                        "<tr>" +
                        "<td id='Name'>" + item.name + "</td>" +
                        "<td id='ContractTypeName'>" + item.contractTypeName + "</td>" + 
                        "<td id='RoleId'>" + item.roleId + "</td>" +
                        "<td id='RoleName'>" + item.roleName + "</td>" + 
                        "<td id='RoleDescription'>" + item.roleDescription + "</td>" +
                        "<td id='HourlySalary'>" + item.hourlySalary + "</td>" + 
                        "<td id='MonthlySalary'>" + item.monthlySalary + "</td>" +
                        "<td id='AnnualSalary'>" + item.annualSalary + "</td>" + 
                        "</tr>";                    
                    $('#Table').append(rows);                    
                });        
            }            
        });
    }

    /// Function that return the information of one employee and display it in a table.
    function GetEmployeeById(employeeId) {       
        $.ajax({
            type: "GET",
            url: "/api/Employee/" + employeeId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {                  
                $("#idTable").find("tr:gt(0)").remove();
                if (data != null) {
                    $('#idTable').show();                  
                    var rows =
                        "<tr>" +
                        "<td id='Name'>" + data.name + "</td>" +
                        "<td id='ContractTypeName'>" + data.contractTypeName + "</td>" + 
                        "<td id='RoleId'>" + data.roleId + "</td>" +
                        "<td id='RoleName'>" + data.roleName + "</td>" + 
                        "<td id='RoleDescription'>" + data.roleDescription + "</td>" +
                        "<td id='HourlySalary'>" + data.hourlySalary + "</td>" + 
                        "<td id='MonthlySalary'>" + data.monthlySalary + "</td>" +
                        "<td id='AnnualSalary'>" + data.annualSalary + "</td>" + 
                        "</tr>";                    
                    $('#Table').append(rows); 
                }
            }
        });
    }

</script>