@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MAS.Models.ViewModel.ViewModelEmployee;

<div class="container py-5">
    <div class="row">
        <div class="col-md-11 mx-auto">
            <div class="form-group row">
                <br>
                <h1 style="text-align:center; color:cadetblue"><srtong>Employees</srtong></h1>
                <br>
                <br>
                <div class="col-sm-6">
                    <input placeholder="Employee ID" id="txtEmployeeId" class="form-control mr-sm-2">
                </div>
                <div class="col-sm-6">
                    <button id="btnSearch" type="button" class="btn backgroundControl my-2 my-sm-0">Get Employees</button>
                </div>
            </div>
        </div>
    </div>    
    <br />
    <div class="row" id="idTable">
        <div class="col-md-10 mx-auto">
            <div class="form-group row">
                <div class="col-sm-12">
                    <table class="table table-striped" id="Table" data-paging="true" data-paging-count-format="{CP} de {TP}" data-paging-size="5">
                        <tr>
                            <th class="backgroundControl text-center">ID</th>
                            <th class="backgroundControl text-center">Name</th>
                            <th class="backgroundControl text-center">Contract Type</th>
                            <th class="backgroundControl text-center">Role ID</th>
                            <th class="backgroundControl text-center">Role Name</th>
                            <th class="backgroundControl text-center">Role Description</th>
                            <th class="backgroundControl text-center">Hourly Salary</th>
                            <th class="backgroundControl text-center">Monthly Salary</th>
                            <th class="backgroundControl text-center">Annual Salary</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="modal" tabindex="-1" role="dialog" id="notfound">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><strong></strong></h3>               
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">                
                <button type="button" id="closeModal" class="btn backgroundControl">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {   

        $('#idTable').hide();

        $("#btnSearch").on("click", function () {
            var employeeId = $("#txtEmployeeId").val();
            employeeId = Number(employeeId);

            $("body").loading('start');
            if (employeeId == "")
            {
                GetAllEmployees();                
            } else
            {
                GetEmployeeById(employeeId);                 
            }            
        });

        // Close modal when close button is clicked.
        $("#closeModal").on("click", function () {
             $("#notfound").modal("hide");
        });
    });

    /// Function that return the information of all employees and display it in a table.
    function GetAllEmployees() { 
        $.ajax({
            type: "GET",
            url: "/api/Employee",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#idTable").find("tr:gt(0)").remove();
                if (data != null) {
                    $('#idTable').show();
                    $.each(data, function (i, item) {
                        displayInformation(item)
                    });
                }
                else {
                    MessageNotFound();
                }
            },
            complete: function (xhr, status) {
                $("body").loading('stop');
            }
        });
    }

    /// Function that return the information of one employee and display it in a table.
    function GetEmployeeById(employeeId) {       
        $.ajax({
            type: "GET",
            url: "/api/Employee/" + employeeId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {               
                $("#idTable").find("tr:gt(0)").remove();
                if (data != null) {
                    $('#idTable').show();                  
                    displayInformation(data)
                }
                else
                {
                    MessageNotFound();
                }
            },
            complete: function (xhr, status) {
               $("body").loading('stop');
            }
        });
    }

    function displayInformation(data)
    {        
        var rows =
            "<tr>" +
            "<td id='Name'>" + data.id + "</td>" +
            "<td id='Name'>" + data.name + "</td>" +
            "<td id='ContractTypeName'>" + data.contractTypeName + "</td>" + 
            "<td id='RoleId'>" + data.roleId + "</td>" +
            "<td id='RoleName'>" + data.roleName + "</td>" + 
            "<td id='RoleDescription'>" + data.roleDescription + "</td>" +
            "<td id='HourlySalary'>" + currencyFormat(data.hourlySalary, '$ ') + "</td>" + 
            "<td id='MonthlySalary'>" + currencyFormat(data.monthlySalary, '$ ') + "</td>" +
            "<td id='AnnualSalary'>" + currencyFormat(data.annualSalary, '$ ') + "</td>" + 
            "</tr>";                    
        $('#Table').append(rows); 
    }

    function currencyFormat(n, currency) {
      return currency + n.toFixed(2).replace(/./g, function(c, i, a) {
      return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
  });
}

    function MessageNotFound(message)
    {      
        $("#idTable").hide();
        var title = "Information";
        var body = "Register not found.";
        showModal(title, body);
    }


    function showModal(title, body)
    {
        $("#notfound").modal("show");
        $(".modal-title").html(title);
        $(".modal-body").html(body);
    }

</script>